<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">La sécurité est une exigence commerciale</h2>
                <hr class="light">
                <p class="text-faded">Nous réduisons vos risques de sécurité et confidentialité des données, vous assurant que vos données vitales sont protégées.</p>
                <a href="#contact" class="btn btn-default btn-xl wow tada page-scroll">Contactez-Nous</a>
            </div>
        </div>
    </div>
</section>
