<section class="bg-more" id="more">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">La protection de la vie privée est un avantage concurrentiel</h2>
                <hr class="light">
                <p>La protection des données privées est plus qu’une question de conformité ou d’éviter les amendes. Les entreprises qui accordent de l’importance à la confidentialité se distinguent de leurs compétiteurs.</p>
                <!--<a href="#contact" class="btn btn-default btn-xl">Contact</a> -->
            </div>
        </div>
    </div>
</section>
