<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="img/allianz_protect.pdf" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Allianz en partenariat avec Air&nbsp;France
                            </div>
                            <div class="project-name">
                                Assistance à la maîtrise d’ouvrage (AMOA) sur le projet du coffre-fort virtuel Allianz-Protect.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="http://europa.eu/rapid/press-release_IP-96-993_fr.htm" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Commission Européenne - Contrôle Financier
                            </div>
                            <div class="project-name">
                                Mise à jour du système de gestion des audits financiers vers l'échantillonnage par unité monétaire (MUS) et analyse des risques.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="img/portfolio/3.jpg" onClick="return false;" class="portfolio-box">
                    <img src="img/portfolio/3.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Banque Paribas – BNP Paribas
                            </div>
                            <div class="project-name">
                                Mise en oeuvre des sites de secours dans le cadre du nouveau plan de continuité informatique.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cnil.fr/fr/comprendre-vos-obligations/les-principes-cles" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Voyages-sncf.com
                            </div>
                            <div class="project-name">
                                Assurance de la conformité aux normes CNIL des bases de données clients et usagers disponibles aux équipes marketing.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a a href="img/portfolio/5.jpg" onClick="return false;" class="portfolio-box">
                    <img src="img/portfolio/5.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Rhône-Poulenc Rorer - Canada
                            </div>
                            <div class="project-name">
                                Audit de sécurité du système de gestion interne des études cliniques.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://www.cnil.fr/fr/comprendre-vos-obligations/les-principes-cles" target="_blank" class="portfolio-box">
                    <img src="img/portfolio/6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                EDF - Marketing
                            </div>
                            <div class="project-name">
                                Assistance à la mise en place et maintenance des bases de données clients conformes aux règlementations de la CNIL.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
