<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Notre Mission</h2>
                <hr class="primary">
                <p class="text-muted">Contribuer l'expertise dont vous avez besoin pour protéger votre entreprise.</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-search-plus wow bounceIn text-primary"></i>
                    <h3>Évaluer le risque</h3>
                    <p class="text-muted">Poser les bases de votre programme de gestion des risques.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-lock wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Protéger vos actifs</h3>
                    <p class="text-muted">S’assurer que les mesures soient en place pour sécuriser vos données.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-user wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Former vos employés</h3>
                    <p class="text-muted">Former votre personnel à identifier les risques.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-server wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Assurer la continuité</h3>
                    <p class="text-muted">Développer des procédures pour atténuer les incidents potentiels.</p>
                </div>
            </div>
        </div>
    </div>
</section>
